databases:
  - name: ecommerce-db
    databaseName: ecommerce
    user: ecommerce
    plan: free

services:
  - type: web
    name: ecommerce-rails
    runtime: ruby
    plan: free
    buildCommand: bundle install --deployment --without development test && bundle exec rails db:migrate && bundle exec rails assets:precompile
    startCommand: bundle exec rails server -b 0.0.0.0 -p $PORT
    envVars:
      - key: RAILS_ENV
        value: production
      - key: RAILS_MASTER_KEY
        sync: false
      - key: SECRET_KEY_BASE
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: ecommerce-db
          property: connectionString
      - key: BUNDLE_PATH
        value: vendor/bundle
      - key: BUNDLE_WITHOUT
        value: development:test
